#controller_container .btn{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right{
    display: flex;
    flex-direction: column;

    .top{
        display: flex;
        justify-content: center;    
    }

    .bottom{
        display: flex;
    }
}

